@font-face {
  font-family: "HK-Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/hkg/HKGrotesk-Bold.eot");
  src: local("HK-Grotesk Bold"), local("KH-Grotesk-Bold"),
    url("/fonts/hkg/HKGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-Bold.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/hkg/HKGrotesk-SemiBold.eot");
  src: local("HK-Grotesk SemiBold"), local("HK-Grotesk-SemiBold"),
    url("/fonts/hkg/HKGrotesk-SemiBold.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-SemiBold.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-SemiBold.tttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/hkg/HKGrotesk-Medium.eot");
  src: local("HK-Grotesk Medium"), local("HK-Grotesk-Medium"),
    url("/fonts/hkg/HKGrotesk-Medium.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-Medium.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/hkg/HKGrotesk-Regular.eot");
  src: local("HK-Grotesk"), local("HK-Grotesk"),
    url("/fonts/hkg/HKGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-Regular.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/hkg/HKGrotesk-Light.eot");
  src: local("HK-Grotesk Light"), local("HK-Grotesk-Light"),
    url("/fonts/hkg/HKGrotesk-Light.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-Light.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/hkg/HKGrotesk-BoldItalic.eot");
  src: local("HK-Grotesk Bold Italic"), local("KH-Grotesk-Bold-Italic"),
    url("/fonts/hkg/HKGrotesk-BoldItalic.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-BoldItalic.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-BoldItalic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/hkg/HKGrotesk-SemiBoldItalic.eot");
  src: local("HK-Grotesk SemiBold Italic"), local("HK-Grotesk-SemiBold-Italic"),
    url("/fonts/hkg/HKGrotesk-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-SemiBoldItalic.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-SemiBoldItalic.tttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/hkg/HKGrotesk-MediumItalic.eot");
  src: local("HK-Grotesk Medium Italic"), local("HK-Grotesk-Medium-Italic"),
    url("/fonts/hkg/HKGrotesk-MediumItalic.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-MediumItalic.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-MediumItalic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/hkg/HKGrotesk-Italic.eot");
  src: local("HK-Grotesk Italic"), local("HK-Grotesk-Italic"),
    url("/fonts/hkg/HKGrotesk-Italic.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-Italic.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-Italic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HK-Grotesk";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/hkg/HKGrotesk-LightItalic.eot");
  src: local("HK-Grotesk Light Italic"), local("HK-Grotesk-Light-Italic"),
    url("/fonts/hkg/HKGrotesk-LightItalic.woff2") format("woff2"),
    url("/fonts/hkg/HKGrotesk-LightItalic.woff") format("woff"),
    url("/fonts/hkg/HKGrotesk-LightItalic.ttf") format("truetype");
  font-display: swap;
}
