/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 * Modified by Piotr Karczewski for purpose of this project
 */

/*********************************************
  * GLOBAL STYLES
  *********************************************/
:root {
  --r-background-color: rgba(248, 248, 248, 1);
  --r-main-font: Source Sans Pro, Helvetica, sans-serif;
  --r-main-font-size: 42px;
  --r-main-color: #fff;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
  --r-heading-color: #fff;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: uppercase;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
  --r-link-color: #42affa;
  --r-link-color-dark: #068de9;
  --r-link-color-hover: #8dcffc;
  --r-selection-background-color: #bee4fd;
  --r-selection-color: #fff;
}

.reveal-viewport {
  background: #191919;
  background-color: var(--r-background-color);
}

.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
}

.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
  * Frame helper
  *********************************************/
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
  * NAVIGATION CONTROLS
  *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}

/*********************************************
  * PROGRESS BAR
  *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}

/*********************************************
  * PRINT BACKGROUND
  *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}

/*********************************************
   * PRINT BACKGROUND
 *********************************************/

@media (min-width: 2560px) {
  .reveal.overview {
    width: 95vw;
  }
}

/*********************************************
   * OVERRIDES
 *********************************************/

.reveal img,
video,
iframe {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.reveal .has-light-background {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*********************************************
   * CONTROLS
 *********************************************/

@media (max-width: 767px) {
  .reveal .controls {
    bottom: 42px;
  }
}

.reveal .controls:before {
  content: "";
  position: absolute;
  width: 10.5em;
  height: 10.5em;
  background: rgba(248, 248, 248, 0.5);
  bottom: 0;
  right: -0.55em;
  border-radius: 50%;
}

.reveal .controls .controls-arrow {
  width: 1.5em;
  height: 2em;
}

.reveal .controls .controls-arrow {
  width: 1.5em;
  height: 2em;
}

.reveal .controls .controls-arrow:before {
  all: initial;
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent currentColor transparent transparent;
  cursor: pointer;
}

.reveal .controls .controls-arrow:after {
  all: initial;
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 10px;
  height: 2px;
  width: 13px;
  background: currentColor;
  cursor: pointer;
}

.reveal .controls .controls-arrow:hover:before,
.reveal .controls .controls-arrow:hover:after {
  transform: none !important;
  -webkit-transform: none !important;
}
