.layout {
  height: calc(100vh - 85px - 1.45rem);
  margin: 0px auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: column;

  &__footer {
    margin-top: 2rem;
    margin-top: auto;
  }
}
