.header {
  background-color: white;
  border-bottom: 2px solid #000000;
  margin-bottom: 1.45rem;
  height: 85px;

  &__container {
    margin: 0px auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    display: flex;
    align-items: flex-end;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    line-height: inherit;
    font-style: italic;
    color: black;
  }
}
